ion-toolbar {
    --background: #bf3b2a;
    color: white;
}

ion-title {
    font-size: 30px;
}

label {
    font-size: 20px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ion-text-center {
    text-align: center;
}