ion-toolbar{
    --background:#425af5;
    color: white;
}

ion-title{
    font-size: 30px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #425af5;
    font-size: 50px;
}

h2{
    text-align: center;
}

img{
    width: 200px;
    margin-left: 100px;
}