<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <img src="assets/icon/icon.png">
  <label>HelPeças</label>
  <p>O HelPeças é um aplicativo híbrido que tem como objetivo apontar a melhor loja e/ou assistência técnica para a manutenção de smartphones. Indica serviços e peças disponíveis para suprir a necessidade do cliente.</p>
  <h3>Pessoal:
    <br>Victor Manuel, Antonio Lima, Igor Lopes ,Ivan ,Flavius
  </h3>
    
</ion-content>
