<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/icon/icon.png">
    <div class="ion-text-center">
        <ion-label>HelPeças</ion-label>
        <p>O HelPeças é um aplicativo híbrido que tem como objetivo apontar a melhor loja e/ou assistência técnica para a manutenção de smartphones. Indica serviços e peças disponíveis para suprir a necessidade do cliente.</p>
        <h3>Pessoal:</h3>
        <ion-list>
            <ion-item>
                <ion-label>
                    Victor Manuel
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    Antonio Lima
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    Flavius Moraes
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    Igor Lopes
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    Ivan Rodrigues
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>


        </ion-list>
    </div>
</ion-content>