<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/img/AppLogo(fundoClaro)2.png">
    <div class="ion-text-center">
        <!--<ion-label>HelPeças</ion-label>-->
        <p>Fundada no ano de 2019, com capacidade de atendimento, compromisso, inovação e confiabilidade.  Empresa criada por um grupo de alunos do Serviço Nacional de Aprendizagem Comercial (SENAC); A partir de uma necessidade de mercado no ramo de manutenção
            de celulares. Estamos em constante atualização e treinamento para melhor suprir e atender as necessidades de nossos clientes. O HelPeças é um aplicativo híbrido que tem por objetivo, atender com excelência visando a satisfação do cliente,
            oferecendo produtos de qualidade e que atendam suas necessidades e expectativas. Reunimos tecnologia e flexibilidade, oferecendo as melhores peças de grandes marcas líderes de mercado para atender as mais diversas necessidades de nossos clientes.</p>
        <h3>Pessoal:</h3>
        <ion-list>
            <ion-item>
                <ion-label>
                    Victor Manuel
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    Antonio Lima
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    Flavius Moraes
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    Igor Lopes
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    Ivan Rodrigues
                </ion-label>
                <ion-icon md="md-cog" slot="start"></ion-icon>
            </ion-item>


        </ion-list>
    </div>
</ion-content>