<ion-content padding center text-center>
  <ion-title>Faça Login</ion-title>
  <ion-img src="assets/img/AppLogo.png"></ion-img>
   <ion-list>
     <ion-item>
       <ion-input placeholder="E-mail" type="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Senha" type="password"></ion-input>
     </ion-item>
   </ion-list>
   
   <ion-button color = primary expand="full" [routerLink]="['/registrar']">Registrar</ion-button>
   
   
   <!--
   <ion-button color = danger expand="full" (click)="entrar()">Entrar</ion-button>
   --> 
  </ion-content>
